</head>
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>
    <a 
      href="/flight/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flight" class=<%= title === 'All Flights' ? 'active' : '' %>
      >
      ALL FLIGHTS
    </a>
  </nav>